name: docker_environment

# php build args template
x-php-build-args: &default-php-build-args
  IMAGE: php:7.4-fpm
  XDEBUG_VERSION: 3.1.6
  UID: ${UID:-1000}
  GID: ${GID:-1000}

# php build template
x-php-build: &default-php-build
  dockerfile: php
  context: ./build
  args:
    <<: *default-php-build-args

# php template
x-php: &default-php
  container_name: php
  user: ${UID:-1000}
  build:
    <<: *default-php-build
  volumes:
    - ${CONF_FOLDER}/php/php.ini:/usr/local/etc/php/conf.d/php.ini
    - ${CONF_FOLDER}/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    - ${HTML_FOLDER}:/var/www/html/
    - ${DATA_FOLDER}/php/coverage:${PHP_COVERAGE_OUTPUT_FOLDER}
  restart: always

services:

  php74:
    <<: *default-php
    container_name: php7.4
    build:
      <<: *default-php-build
      args:
        IMAGE: php:7.4-fpm
        XDEBUG_VERSION: 3.1.6

  php80:
    <<: *default-php
    container_name: php8.0
    build:
      <<: *default-php-build
      args:
        IMAGE: php:8.0-fpm
        XDEBUG_VERSION: 3.4.5

  php81:
    <<: *default-php
    container_name: php8.1
    build:
      <<: *default-php-build
      args:
        IMAGE: php:8.1-fpm
        XDEBUG_VERSION: 3.4.5

  php82:
    <<: *default-php
    container_name: php8.2
    build:
      <<: *default-php-build
      args:
        IMAGE: php:8.2-fpm
        XDEBUG_VERSION: 3.4.5

  php83:
    <<: *default-php
    container_name: php8.3
    build:
      <<: *default-php-build
      args:
        IMAGE: php:8.3-fpm
        XDEBUG_VERSION: 3.4.5

  php84:
    <<: *default-php
    container_name: php8.4
    build:
      <<: *default-php-build
      args:
        IMAGE: php:8.4-fpm
        XDEBUG_VERSION: 3.4.5

  apache:
    container_name: apache
    build:
      dockerfile: apache
      context: ./build
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    ports:
      - "${APACHE_PORT_AUTO:-88}:88"
      - "${APACHE_PORT_443:-443}:443"
      - "${APACHE_PORT_74:-74}:74"
      - "${APACHE_PORT_80:-80}:80"
      - "${APACHE_PORT_81:-81}:81"
      - "${APACHE_PORT_82:-82}:82"
      - "${APACHE_PORT_83:-83}:83"
      - "${APACHE_PORT_84:-84}:84"
    volumes:
      - ${CONF_FOLDER}/apache/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - ${CONF_FOLDER}/apache/httpd-vhosts.conf:/usr/local/apache2/conf/extra/httpd-vhosts.conf
      - ${CONF_FOLDER}/certs:/etc/apache/certs
      - ${HTML_FOLDER}:/var/www/html/
    restart: always
#    depends_on:
#      - php74
#      - php80
#      - php81
#      - php82
#      - php83
#      - php84
    deploy:
      replicas: ${ENABLE_APACHE:-0}

  nginx:
    container_name: nginx
    build:
      dockerfile: nginx
      context: ./build
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    ports:
      - "${NGINX_PORT_AUTO:-88}:88"
      - "${NGINX_PORT_443:-443}:443"
      - "${NGINX_PORT_74:-74}:74"
      - "${NGINX_PORT_80:-80}:80"
      - "${NGINX_PORT_81:-81}:81"
      - "${NGINX_PORT_82:-82}:82"
      - "${NGINX_PORT_83:-83}:83"
      - "${NGINX_PORT_84:-84}:84"
    volumes:
      - ${CONF_FOLDER}/nginx:/etc/nginx/conf.d
      - ${CONF_FOLDER}/certs:/etc/nginx/certs
      - ${HTML_FOLDER}:/var/www/html/
    restart: always
#    depends_on:
#      - php74
#      - php80
#      - php81
#      - php82
#      - php83
#      - php84
    deploy:
      replicas: ${ENABLE_NGINX:-0}

  mariadb:
    image: mariadb
    container_name: mariadb
    restart: unless-stopped
    ports:
      - "${MARIADB_PORT:-3306}:3306"
    volumes:
      - ${CONF_FOLDER}/mariadb:/etc/mysql/conf.d
      - ${DATA_FOLDER}/mariadb/:/var/lib/mysql
      - ${DATA_FOLDER}/dbdump/:/tmp/dbdump
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}

  mysql:
    image: mysql
    container_name: mysql
    restart: unless-stopped
    ports:
      - "${MYSQL_PORT:-3307}:3306"
    volumes:
      - ${CONF_FOLDER}/mysql:/etc/mysql/conf.d
      - ${DATA_FOLDER}/mysql/:/var/lib/mysql
      - ${DATA_FOLDER}/dbdump/:/tmp/dbdump
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "${ADMINER_PORT:-8080}:8080"
    deploy:
      replicas: ${ENABLE_ADMINER:-0}

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - ${CONF_FOLDER}/mailpit/:/conf
      - ${DATA_FOLDER}/mailpit/:/data
    ports:
      - ${MAILPIT_WEB_PORT:-8025}:8025
      - ${MAILPIT_SMTP_PORT:-1025}:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      MP_ENABLE_SPAMASSASSIN: postmark
#      MP_SMTP_FORWARD_CONFIG: /conf/smtp_forward.yml
#      MP_SMTP_FORWARD_PASSWORD: ${COMBODO_SMTP_TEST_PASSWORD}
#      MP_SMTP_FORWARD_TO: ${MAILPIT_FORWARD_USER}
      MP_SMTP_RELAY_CONFIG: /conf/smtp_relay.yml
      MP_SMTP_RELAY_PASSWORD: ${COMBODO_SMTP_TEST_PASSWORD}
      MP_SMTP_RELAY_MATCHING: ${MAILPIT_RELAY_MATCHING}
    deploy:
      replicas: ${ENABLE_MAILPIT:-0}

  script_server:
    build:
      dockerfile: script-server
      context: ./build
    container_name: script_server
    restart: unless-stopped
    ports:
      - "${SCRIPT_SERVER_PORT:-5000}:5000"
    volumes:
      - ${CONF_FOLDER}/script-server/conf:/app/conf
      - ${DATA_FOLDER}/script-server/scripts:/app/scripts
      # For accessing HTML files content (read-only) from scripts
      - ${HTML_FOLDER}:/host_html:ro
      # For container to container script execution
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Paris
    deploy:
      replicas: ${ENABLE_SCRIPT_SERVER:-0}
